/*** Consulting CSS ***/
html{width:100%;height:100%;}
body{width:100%;height:100%;color:#333;font-size:15px;line-height:1.5;background:#fff;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-moz-font-feature-settings:"liga", "kern";text-rendering:optimizelegibility;}
a{color:#3498db;text-decoration:none;}
a,
a:focus,
a:hover,
a:active{outline:0;}
a:focus{text-decoration:none;}
a:hover{color:#3498db;text-decoration:underline;}
p, li, li a{color:#333;}
a.btn-u-blue,
a.btn-u-blue:hover,
a.btn-u-blue:active{color:#fff;}
::-moz-selection{color:#fff;background:#3498db;}
::selection{color:#fff;background:#3498db;}
.clear{clear:both;}
i.icon-md{font-size:40px;width:45px;height:45px;line-height:45px;display:inline-block;}
.icon-md-wrapper{padding:15px;}
i.icon-lg{font-size:80px;width:85px;height:85px;line-height:85px;display:inline-block;}
.icon-lg-wrapper{padding:30px 0;}
.icon-lg-wrapper strong{display:block;text-transform:uppercase;padding-top:5px;font-size:14px;}
@media (min-width:600px){.visible-2xs{display:none;}
}
@media (max-width:600px){.hidden-2xs{display:none;}
.col-2xs-12{width:100%;float:none;}
.col-2xs-push-0{left:0;}
.col-2xs-pull-0{right:0;}
.getstartedtopmob{padding-top:20px;}
}
@media (min-width:500px){.visible-3xs{display:none;}
}
@media (max-width:500px){.hidden-3xs{display:none;}
}
.g-color-default{color:#505152;font-weight:bold;}
.g-color-gray{color:#aaa;}
.g-bg-default{background:#3498db;}
.g-bg-gray{background:#f8f8f8;}
.g-bg-lightblue{background:#eef2f7;}
.g-bg-orange{background:#e57a26;}
.g-bg-fullwhite{background:white;}
.g-bg-lightblue-radialgradient{background:radial-gradient(ellipse at center center, #fff 22%, #c2d2e2 100%) repeat;}
.g-bg-gray-lineargradient{background:linear-gradient(#fff, #dbdbdb);}
.g-color-white{color:#fff;}
.g-dp-table{display:table;}
.g-dp-table-cell{display:table-cell;}
.g-va-top{vertical-align:top;}
.g-va-middle{vertical-align:middle;}
.g-va-bottom{vertical-align:bottom;}
.g-padding-5{padding:5px;}
.g-padding-10{padding:10px;}
.g-padding-15{padding:15px;}
.g-padding-20{padding:20px;}
.g-padding-25{padding:25px;}
.g-padding-30{padding:30px;}
.g-padding-35{padding:35px;}
.g-padding-40{padding:40px;}
.g-padding-45{padding:45px;}
.g-padding-50{padding:50px;}
.g-pt-5{padding-top:5px;}
.g-pt-10{padding-top:10px;}
.g-pt-20{padding-top:20px;}
.g-pt-30{padding-top:30px;}
.g-pt-40{padding-top:40px;}
.g-pt-50{padding-top:50px;}
.g-pt-60{padding-top:60px;}
.g-pt-70{padding-top:70px;}
.g-pt-80{padding-top:80px;}
.g-pt-85{padding-top:80px;}
.g-pt-90{padding-top:90px;}
.g-pt-100{padding-top:100px;}
.g-pt-110{padding-top:110px;}
.g-pt-120{padding-top:120px;}
.g-pt-130{padding-top:130px;}
.g-pt-140{padding-top:140px;}
.g-pt-150{padding-top:150px;}
.g-pt-160{padding-top:160px;}
.g-pt-170{padding-top:170px;}
.g-pt-180{padding-top:170px;}
.g-pb-10{padding-bottom:10px;}
.g-pb-20{padding-bottom:20px;}
.g-pb-30{padding-bottom:30px;}
.g-pb-40{padding-bottom:40px;}
.g-pb-50{padding-bottom:50px;}
.g-pb-60{padding-bottom:60px;}
.g-pb-70{padding-bottom:70px;}
.g-pb-75{padding-bottom:75px;}
.g-pb-80{padding-bottom:80px;}
.g-pb-90{padding-bottom:90px;}
.g-pb-100{padding-bottom:100px;}
.g-pb-110{padding-bottom:110px;}
.g-pb-120{padding-bottom:120px;}
.g-pb-130{padding-bottom:130px;}
.g-pb-140{padding-bottom:140px;}
.g-pb-150{padding-bottom:150px;}
.g-pb-160{padding-bottom:160px;}
.g-pb-170{padding-bottom:170px;}
.g-pb-180{padding-bottom:180px;}
.g-pl-10{padding-left:10px;}
.g-pl-20{padding-left:20px;}
.g-pl-30{padding-left:30px;}
.g-pl-40{padding-left:40px;}
.g-pl-50{padding-left:50px;}
.g-pl-60{padding-left:60px;}
.g-pl-70{padding-left:70px;}
.g-pl-80{padding-left:80px;}
.g-pl-90{padding-left:90px;}
.g-pl-100{padding-left:100px;}
.g-pr-10{padding-right:10px;}
.g-pr-20{padding-right:20px;}
.g-pr-30{padding-right:30px;}
.g-pr-40{padding-right:40px;}
.g-pr-50{padding-right:50px;}
.g-pr-60{padding-right:60px;}
.g-pr-70{padding-right:70px;}
.g-pr-80{padding-right:80px;}
.g-pr-90{padding-right:90px;}
.g-pr-100{padding-right:100px;}
.g-mt-10{margin-top:10px;}
.g-mt-20{margin-top:20px;}
.g-mt-30{margin-top:30px;}
.g-mt-40{margin-top:40px;}
.g-mt-50{margin-top:50px;}
.g-mt-60{margin-top:60px;}
.g-mt-70{margin-top:70px;}
.g-mt-80{margin-top:80px;}
.g-mt-90{margin-top:90px;}
.g-mt-100{margin-top:100px;}
.g-mb-0{margin-bottom:0;}
.g-mb-3{margin-bottom:3px;}
.g-mb-5{margin-bottom:5px;}
.g-mb-7{margin-bottom:7px;}
.g-mb-10{margin-bottom:10px;}
.g-mb-15{margin-bottom:15px;}
.g-mb-20{margin-bottom:21px;}
.g-mb-25{margin-bottom:25px;}
@media (min-width:992px){.g-mb-30{margin-bottom:30px;margin-left:50px;}
.col-md-8{width:85.666667%;}
.getstartedsectionbottom{padding-bottom:35px;}
}
.g-mb-35{margin-bottom:35px;}
.g-mb-40{margin-bottom:40px;}
.g-mb-45{margin-bottom:45px;}
.g-mb-50{margin-bottom:50px;}
.g-mb-55{margin-bottom:55px;}
.g-mb-60{margin-bottom:60px;}
.g-mb-65{margin-bottom:65px;}
.g-mb-70{margin-bottom:70px;}
.g-mb-75{margin-bottom:75px;}
.g-mb-80{margin-bottom:80px;}
.g-mb-85{margin-bottom:85px;}
.g-mb-90{margin-bottom:90px;}
.g-mb-95{margin-bottom:95px;}
.g-mb-100{margin-bottom:100px;}
.g-mb-105{margin-bottom:105px;}
.g-mb-110{margin-bottom:110px;}
.g-mb-115{margin-bottom:115px;}
.g-mb-120{margin-bottom:120px;}
.g-mb-125{margin-bottom:125px;}
.g-ml-10{margin-left:10px;}
.g-ml-20{margin-left:20px;}
.g-ml-30{margin-left:30px;}
.g-ml-40{margin-left:40px;}
.g-ml-50{margin-left:50px;}
.g-ml-60{margin-left:60px;}
.g-ml-70{margin-left:70px;}
.g-ml-80{margin-left:80px;}
.g-ml-90{margin-left:90px;}
.g-ml-100{margin-left:100px;}
.g-mr-3{margin-right:3px;}
.g-mr-5{margin-right:5px;}
.g-mr-10{margin-right:10px;}
.g-mr-20{margin-right:20px;}
.g-mr-30{margin-right:30px;}
.g-mr-40{margin-right:40px;}
.g-mr-50{margin-right:50px;}
.g-mr-60{margin-right:60px;}
.g-mr-70{margin-right:70px;}
.g-mr-80{margin-right:80px;}
.g-mr-90{margin-right:90px;}
.g-mr-100{margin-right:100px;}
@font-face{font-family:SourceSansPro-Black;src:url(../customfonts/SourceSansPro-Black.otf);format(opentype);}
@font-face{font-family:SourceSansPro-BlackIt;src:url(../customfonts/SourceSansPro-BlackIt.otf);format(opentype);}
@font-face{font-family:SourceSansPro-Bold;src:url(../customfonts/SourceSansPro-Bold.otf);format(opentype);}
@font-face{font-family:SourceSansPro-BoldIt;src:url(../customfonts/SourceSansPro-BoldIt.otf);format(opentype);}
@font-face{font-family:SourceSansPro-ExtraLight;src:url(../customfonts/SourceSansPro-ExtraLight.otf);format(opentype);}
@font-face{font-family:SourceSansPro-ExtraLightIt;src:url(../customfonts/SourceSansPro-ExtraLightIt.otf);format(opentype);}
@font-face{font-family:SourceSansPro-It;src:url(../customfonts/SourceSansPro-It.otf);format(opentype);}
@font-face{font-family:SourceSansPro-Light;src:url(../customfonts/SourceSansPro-Light.otf);format(opentype);}
@font-face{font-family:SourceSansPro-LightIt;src:url(../customfonts/SourceSansPro-LightIt.otf);format(opentype);}
@font-face{font-family:SourceSansPro-Regular;src:url(../customfonts/SourceSansPro-Regular.otf);format(opentype);}
@font-face{font-family:SourceSansPro-Semibold;src:url(../customfonts/SourceSansPro-Semibold.otf);format(opentype);}
@font-face{font-family:SourceSansPro-SemiboldIt;src:url(../customfonts/SourceSansPro-SemiboldIt.otf);format(opentype);}
@media(max-width:991px){.g-sm-mb-10{margin-bottom:10px;}
.g-sm-mb-15{margin-bottom:15px;}
.g-sm-mb-20{margin-bottom:20px;}
.g-sm-mb-30{margin-bottom:30px;}
}
@media(max-width:767px){.g-xs-mb-10{margin-bottom:10px;}
.g-xs-mb-15{margin-bottom:15px;}
.g-xs-mb-20{margin-bottom:20px;}
.g-xs-mb-30{margin-bottom:30px;}
.g-sm-text-left{text-align:left;}
}
@media (max-width:600px){.g-2xs-mb-20{margin-bottom:20px;}
.g-2xs-mb-30{margin-bottom:30px;}
}
@media (max-width:500px){.g-3xs-mb-20{margin-bottom:20px;}
.g-3xs-mb-30{margin-bottom:30px;}
}
@media (min-width:500px){.visible-3xs{display:none;}
}
.g-display-block{display:block;}
.g-display-inline-block{display:inline-block;}
.g-display-table{display:table;width:100%;}
.g-display-td{display:table-cell;}
.g-display-td-20{width:20%;}
.g-display-td-25{width:25%;}
.g-display-td-30{width:30%;}
.g-display-td-40{width:40%;}
.g-display-td-50{width:50%;}
.g-display-td-60{width:60%;}
@media (max-width:991px){.g-sm-display-table--disable,
.g-sm-display-td--disable{display:block;width:100%;text-align:center;}
}
@media (max-width:767px){.g-xs-display-table--disable,
.g-xs-display-td--disable{display:block;width:100%;text-align:center;}
.getstartedheadingm{color:black;padding-top:0px;text-align:center;padding-left:0px;}
.getstartedAllheadingsm{padding-top:0px;padding-bottom:0px;text-align:center;padding-left:0px;}
}
@media (max-width:600px){.g-2xs-display-table--disable,
.g-2xs-display-td--disable{display:block;width:100%;text-align:center;}
}
.g-width-auto{width:auto;}
.g-width-100{width:100%;}
.g-text-top{vertical-align:top;}
.g-text-middle{vertical-align:middle;}
.g-text-bottom{vertical-align:bottom;}
.img-wrapper--shadow{position:relative;}
.img-wrapper--shadow:after{content:"";background:rgba(0,0,0,.3);position:absolute;top:0;right:0;bottom:0;left:0;}
.g-heading-v7 .h2{text-transform:uppercase;font-size:28px;font-weight:700;position:relative;margin-top:0;letter-spacing:1.5px;}
.g-heading-v7 .h2 .block-name{font-size:18px;font-weight:300;font-style:normal;display:block;margin-top:5px;letter-spacing:1px;}
.h3{text-transform:uppercase;font-size:18px;font-weight:500;margin-top:0;letter-spacing:1px;}
.h4{text-transform:uppercase;font-size:18px;font-weight:400;margin-top:0;letter-spacing:1px;}
.btn-u-upper{text-transform:uppercase;}
.btn-u-lg.btn-u-upper, a.btn-u-lg.btn-u-upper{font-size:12px;font-weight:bold;}
.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse{max-height:100%;}
.capitalise{text-transform:uppercase;}
.g-bg-default-color,
.g-bg-default-color:focus{background:#3498db;color:#fff;}
.g-bg-default-color:hover{background:#46b8aa;}
.owl-lightweight-arrow .owl-buttons div{width:50px;height:50px;opacity:.1;display:block;position:absolute;top:50%;cursor:pointer;}
.owl-lightweight-arrow .owl-buttons .owl-prev{left:0;}
.owl-lightweight-arrow .owl-buttons .owl-next{right:0;}
.owl-lightweight-arrow .owl-buttons div:hover{opacity:1;}
.owl-lightweight-arrow-black .owl-prev{background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgNDIgODgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQyIDg4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMzMzMzMzMiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik0zOC45LDRMNC43LDQzLjIKCQljLTAuNCwwLjQtMC40LDEuMSwwLDEuNUwzOC45LDg0Ii8+CjwvZz4KPC9zdmc+Cg==) no-repeat 50% 50%;}
.owl-lightweight-arrow-white .owl-prev{background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgNDIgODgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQyIDg4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik0zOC45LDRMNC43LDQzLjIKCQljLTAuNCwwLjQtMC40LDEuMSwwLDEuNUwzOC45LDg0Ii8+CjwvZz4KPC9zdmc+Cg==) no-repeat 50% 50%;}
.owl-lightweight-arrow-black .owl-next{background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgNDIgODgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQyIDg4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMzMzMzMzMiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik0zLjEsODRsMzQuMi0zOS4yCgkJYzAuNC0wLjQsMC40LTEuMSwwLTEuNUwzLjEsNCIvPgo8L2c+Cjwvc3ZnPgo=) no-repeat 50% 50%;}
.owl-lightweight-arrow-white .owl-next{background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgNDIgODgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQyIDg4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik0zLjEsODRsMzQuMi0zOS4yCgkJYzAuNC0wLjQsMC40LTEuMSwwLTEuNUwzLjEsNCIvPgo8L2c+Cjwvc3ZnPgo=) no-repeat 50% 50%;}
.one-page-header{background:#505152;padding:12px 0;margin:0;}
.one-page-header.top-nav-collapse{background:#505152;padding:7px 0;box-shadow:0 0 3px #ddd;}
.one-page-header .navbar-brand{padding:0px 15px;height:auto;}
.navbar-brand > img{width:150px;}
@media (max-width:991px){.one-page-header .menu-container:after{display:none;}
}
@media (max-width:768px){.one-page-header .navbar-brand{padding:10px 0;}
.navbar-img{padding-top:8px;padding-right:4px;}
}
}
.one-page-header .btn-u{margin-top:12px;}
.intro-section{overflow:hidden;background:radial-gradient(circle at 75% 95%, #fff 12%, #c2d2e2 100%) repeat;}
.intro-section h1{text-transform:uppercase;font-size:40px;font-weight:700;line-height:1.2;color:inherit;letter-spacing:1.5px;}
.intro-section h1 em{font-style:normal;}
.intro-call-us{font-size:20px;font-weight:300;text-transform:uppercase;}
.intro-call-us strong{font-weight:300;}
@media (max-width:991px){.intro-section h1{font-size:38px;}
}
.intro-section .icon-md{margin-right:15px;}
.intro-section .container{position:relative;}
.intro-section .row{z-index:2;position:relative;}
.intro-section__image{position:absolute;bottom:0;right:0;width:400px;height:auto;}
@media (max-width:991px){.intro-section__image{width:300px;}
}
.testimonials-v7 .testimonials-v7-item img{width:auto;display:inline-block;border-radius:0%;}
.testimonials-v7-item{width:60%;margin:0 auto;}
.testimonials-v7 blockquote{margin:0 0 30px;padding:0;border:none;font-size:15px;}
.testimonials-v7 strong{text-transform:uppercase;font-weight:400;}
.pricing-v9{}
.pricing-v9:hover{box-shadow:0 0 15px #ddd;}
.pricing-v9-head h3{ font-size: 30px; margin:0;}
.pricing-v9 ul{margin:0;}
.pricing-v9 li{margin-bottom:5px;}
.pricing-v9-price,
.pricing-v9-footer,
.pricing-v9 ul,
.pricing-v9-head{padding:20px 15px 15px;}
.pricing-v9-price{font-size: 15.3px; padding-top: 0; }
.team-v6 span{color:inherit;}
.team-v6 small{color:#3498db;margin-bottom:20px;}
.social-icons-v1 i:hover{background:#3498db;}
.simple-form{box-shadow:none;}
.simple-form fieldset{background:none;padding:0;}
.simple-form .icon-append{border-left:none;padding-left:0;right:auto;left:5px;color:#e57a26;}
.simple-form .input input,
.simple-form .textarea textarea,
.simple-form .input input:hover,
.simple-form .textarea textarea:hover,
.simple-form .input input:focus,
.simple-form .textarea textarea:focus{box-shadow:none;border:none;background:#fff;color:#666;padding-right:10px;padding-left:40px;border-radius: 5px !important; -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.30); -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.30); box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.30);}
.simple-form .textarea-expandable textarea,
.simple-form .textarea-expandable textarea:hover,
.simple-form .textarea-expandable textarea:focus{height:125px;}
.simple-form::-webkit-input-placeholder{color:#666;opacity:1;}
.simple-form::-moz-placeholder{color:#666;opacity:1;}
.simple-form:-moz-placeholder{color:#666;opacity:1;}
.simple-form:-ms-input-placeholder{color:#666;opacity:1;}
.landing_page_form .simple-form .input input,
.landing_page_form .simple-form .textarea textarea,
.landing_page_form.simple-form .input input:hover,
.landing_page_form .simple-form .textarea textarea:hover,
.landing_page_form .simple-form .input input:focus,
.landing_page_form .simple-form .textarea textarea:focus { box-shadow:none; border:none; border-bottom: 1px solid #e2e2e2; background:#fff; color:#666;padding-right:10px; padding-left:40px; border-radius: 0 !important; -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0); -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0); box-shadow: 0px 5px 5px 0px rgba(0,0,0,0);}
.getstarte-hidedesktopview #f1_18yearsmobilelabel span.marginL_10 , .getstarte-hidemobileview #f1_18yearslabelother span.marginL_10 { margin-left: 20px; }
@media (max-width:767px){.input-group{display:block;}
.input-group-btn{display:block;margin-top:20px;}
.getstarte-hidemobileview{display:none;}
}
@media (min-width:767px){.getstarte-hidedesktopview{display:none;}
}
.support .container{position:relative;}
.support .row{z-index:2;position:relative;}
.support__image{position:absolute;bottom:100px;left:0px;width:820px;height:auto;}
.support__image_secondpage{position:absolute;bottom:80px;left:0px;width:820px;height:auto;}
@media (min-width:1200px){.great_app_underline{position:absolute;bottom:23px;left:167px;width:117px;height:auto;top:197px;}
.featuredapps-toppadding-mobile{padding-top:62px;}
.great_app_h1{ font-size:40px; line-height: 46px; }
.get_started_image{position:absolute;bottom:100px;left:535px;width:314px;height:auto;top:95px;}
.get_started_arrow_image{position:absolute;bottom:23px;left:411px;width:117px;height:auto;top:490px;}
.get_started_today_image{position:absolute;bottom:23px;left:157px;width:248px;height:auto;top:550px;}
.get_started_today_image2{position:absolute;bottom:23px;left:100px;width:248px;height:auto;top:550px;}
.featuredapps-linebreak{display:block;}
.designing_image{position:absolute;bottom:100px;left:268px;width:95px;height:auto;top:65px;}
.programming_image{position:absolute;bottom:100px;left:559px;width:95px;height:auto;top:65px;}
.doublelineimage_one{position:absolute;left:69px;width:172px;height:auto;top:4px;}
.doublelineimage_two{position:absolute;left:760px;width:172px;height:auto;top:4px;}
.doublelineimage_three{position:absolute;left:69px;width:172px;height:auto;top:33px;}
.doublelineimage_four{position:absolute;left:760px;width:172px;height:auto;top:33px;}
.fieldsetlabel{max-width:65%;}
.navbar-linebreak{text-align:inline;}
.getstartedheading{color:white;padding-left:25px;padding-top:21px;}
.getstartedAllheadings{padding-left:10px}
}
@media (max-width:991px){.get_started_image{position:absolute;bottom:100px;left:380px;width:314px;height:auto;top:130px;}
}
@media (max-width:500px){.get_started_image{position:absolute;bottom:100px;left:10px;width:314px;height:auto;top:530px;}
}
@media (max-width:991px){.support__image{left:15px;width:300px;}
}
#map{height:500px;}
.footer-v14{font-size:13px;text-transform:uppercase;}
.hrstyle{display:block;margin-top:0.5em;margin-bottom:0.5em;margin-left:auto;margin-right:auto;border-style:inset;border-width:3px;}
.inputborder{}
.getthecreditdiv{background-color:#E19B25;border:rounded-2x;font-family:SourceSansPro-Regular;border-radius:8px;text-align:center;margin-top:20px;color:white;font-size:20px;}
@media(max-width:400px){.navbar-linebreak{text-align:block;float:left;padding-top:8px;}
}

/*** make-web-app from inline styles ***/
.font_bold {
	font-family:SourceSansPro-Bold;
}

.font_black {
	font-family:SourceSansPro-Black;
}

.white {
	color: #fff;
}

.orange {
	color:#FFA200;
}

.red {
	color:red;
}

.black {
	color: #333;
}

.grey {
	color: #505152;
}

.font_size_16 {
	font-size: 16px;
}

.font_size_20 {
	font-size: 20px;
}

.logo_brand {
	height: 61px;
	margin-bottom: 15px;
}

body,
.font_regular,
.getstartedtopmob_wrap h4 {
	font-family:SourceSansPro-Regular;
	font-weight: normal;
}

.italic {
	font-style: italic;
}

.bodybackground {
	background: transparent url("../../../make-web-app/Images/Header_BG.jpg") top center no-repeat;
	background-size: 100% auto;
	overflow-x:hidden;
}

.bodybackground_startnow {
	<!--background: -webkit-linear-gradient(#3C3968, #14857c);
	background: -o-linear-gradient(#3C3968, #14857c);
	background: -moz-linear-gradient(#3C3968, #14857c);
	background: linear-gradient(#3C3968, #14857c);
	--> background-image: url(../img-temp/bg.png);
	background-repeat: repeat-x;
	background-color: #14857c;
	overflow-x: hidden
}

.bodybackground_survey {
    <!--background: -webkit-linear-gradient(#3C3968,#14857c ); 
    background: -o-linear-gradient(#3C3968,#14857c ); 
    background: -moz-linear-gradient(#3C3968,#14857c ); 
    background: linear-gradient(#3C3968,#14857c ); -->
	background-image: url("../img-temp/bg.png");
	background-repeat: repeat-x;
    background-color: #14857c;
}

.bg_icon_transparent {
	background: transparent url('../img-temp/header-bg.png') no-repeat center top;
	background-size: 100% auto;
}

.overflow_hidden {
	overflow: hidden;
}

.backgroundcolornav {
	background-color:#3C3968;
}

.footer_bg {
	background: transparent url("../../../make-web-app/Images/bg_footer.png") bottom center no-repeat;
	background-size: 100% 100%;
	color: #fff;
	overflow:hidden;
	margin-bottom: -53px;
}

.footer_bg h1,
.footer_bg h2 {
	color: #fff;
	font-family:SourceSansPro-Bold;
}

.footer_bg h3,
.footer_bg h4 {
	color: #fff;
	font-family:SourceSansPro-Regular;
}

.footer_cpy {
	background-color: #1B1C25;
	text-align: center;
}

input[type=checkbox] {
  -ms-transform: scale(2); 
  -moz-transform: scale(2); 
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  padding: 10px;
}

.paddingTB_30 {
	padding-top:30px;
	padding-bottom: 30px;
}

.paddingT_5 {
	padding-top: 5px;
}

.paddingT_15 {
	padding-top: 15px;
}

.paddingT_20 {
	padding-top: 20px;
}

.paddingT_25 {
	padding-top: 20px;
}

.paddingT_30 {
	padding-top: 30px;
}

.paddingT_45 {
	padding-top:45px;
}

.paddingT_50 {
	padding-top:50px;
}

.paddingT_100 {
	padding-top:100px;
}

.paddingL_35 {
	padding-left: 35px;
}

.paddingL_26 {
	padding-left: 26px;
}

.paddingB_8 {
	padding-bottom: 8px;
}

.paddingB_37 {
	padding-bottom: 37px;
}

.paddingB_75 {
	padding-bottom:75px;
}

.getstartedtopmob_wrap {
	font-size: 16px;
}

.getstartedtopmob_wrap h2,
.getstartedtopmob_wrap h3,
.getstartedtopmob_wrap h4 {
	color: white;
}

.getstartedtopmob_wrap h3 { font-size: 28px; margin-bottom: 15px; }
.getstartedtopmob_wrap h4 { font-size: 19px; }

.getstartedsectionbottom {
	color: black;
	position: relative;
}

.borderB_1s {
	border-bottom: 1px solid;
}

.borderR_10 {
	border-radius: 10px;
}

.marginL_10{
	margin-left:10px;
}

.marginT_20 {
	margin-top: 20px;
}

.marginB_20 {
	margin-bottom: 20px;
}

.marginT_n50 {
	margin-top: -50px;
}

.marginT_n100 {
	margin-top: -100px;
}

.bg_blue {
	background-color: #007ece;
	padding: 5px 15px;
}

.bg_green {
	background-color: #16a447;
	margin-top: 10px;
	padding: 0 15px 30px;
}

.bg_seagreen {
	background-color: #1b9992;
}

.bg_white {
	background-color: #fff;
}

.bg_phone,
.phone_bg {
	background: transparent url('../img-temp/phone.png') no-repeat left top;
	width: 321px;
	height: 650px;
	padding: 0 40px 0 30px;
	margin: 30px auto 0;
}

.bg_phone {	padding-top: 93px; }

.phone_bg { padding-top: 38px; }

.getstartedheadingm{padding-bottom:10px;}
.app_review {padding-bottom: 0; margin-bottom: 5px; }

.hand_phone_form {
	position: relative;
	z-index: 5;
	top: 117px;
	left: 20px;
	width: 235px;
	height: 610px;
}

.hand_phone {
	position: absolute;
	top: 75px;
	left: -79px;
	right: 0;
	z-index: 0;
}

.submit__start_app {
	background: transparent url('../img-temp/btn__start.jpg') no-repeat 0 0;
	border: none;
	height: 44px;
	width: 235px;
	margin-top: -15px;
}

@media screen and (min-width: 480px) {
	.hand_phone_form { left: 115px; top: 112px;}
	.hand_phone { left: 15px; }
}

@media screen and (min-width: 992px) {
	.hand_phone_form { top: 68px;}
	.hand_phone { top: 30px ;}
	.bg_phone { margin: 0 0 0 -15px; }
	.support.green_arrow > div { padding-bottom: 40px; }
}

@media screen and (min-width: 1200px) {
	.hand_phone_form { top: 69px;}
	.hand_phone { top: 33px ;}
	.support.green_arrow > div { padding-bottom: 43px; }
}


.bg_phone .sky-form .input .icon-append + input,
.phone_bg .sky-form .input .icon-append + input {
	border-bottom: 1px solid;
}

.getstartedAllheadingsdd1 {
	margin-top: 35px;
}

.submit_buttonstyle {
	background: none;
	border: none;
	color: #FFF;
	font-size: 30px;
	margin-top: 59px;
}

.submit_buttonstyle.confirm_age {
	margin-top: 28px;
}

.underline_arrow {
	position: relative;
    top: -150px;
    z-index: 99;
    margin-bottom: -130px;
}

.underline_arrow img {
	margin-left: 100px;
}

.support_wrap {
	background-color: white;
	font-size: 16px;
	padding-top: 25px;
}

.support_wrap.bg {
	/* background: #fff url('../img-temp/arrow.png') no-repeat center top; */
}

.heading_easy {
	font-family:SourceSansPro-Bold;
	font-size: 35px;
	color: #383838;
}

.arrow_green {
	width: 960px;
	margin: 22px 0px 35px;
}

.arrow_blue_purple {
	width: 960px;
	margin: 35px 0px 35px;
}

.underline_orange {
	background: transparent url('../../../make-web-app/Images/BusinessApp_Underline.png') no-repeat bottom right;
	padding-bottom: 9px;
}

.border_underline {
	width: 65px;
}

.border_underline_extnd {
	width: 115px;
}

.heading_38 {
	font-size: 38px;
	font-family:SourceSansPro-Bold;
	margin-bottom:-4px;
}

.getstarte-hidemobileview {
	color:black;
	float:left;
	text-align: left;
}

.free_review {
	width: 165px;
}

.heading_getstarted {
	font-family:SourceSansPro-Bold;
	font-size: 30px;
	color:white;
}

.img_slider_wrap {
	padding-top:100px;
	padding-bottom:8px
}

.img_icon {
	margin: 0 auto 10px;
}

.confirm_check {
	margin-left:10px;
	color:white;
	font-family:SourceSansPro-Regular;
}

.error_msg {
	margin-left:10px;
	color:red;
}

.btn-u-lg.btn-u-upper.btn_getstartedsubmit {
	color:white;
	text-transform: none;
	font-weight:bolder;
	background-color:#FAC300;
	font-size:19px;
	margin-top: 16px;
}

.btn-u-lg.btn-u-upper.btn_submit_other_blue{
	color:#fff;
	text-transform: None;
	font-weight: bolder;
	background: #3498db;
	font-size: 18px;
	margin-top: 16px;
}

.btn-u-lg.btn-u-upper.btn_submit_other_orange{
	color:#fff;
	text-transform: uppercase;
	font-weight: bold;
	background: transparent url('../img-temp/btn_orange_small.png') no-repeat 0 0;
	font-size: 18px;
	padding-top: 8px;
	margin-top: 16px;
	width: 260px;
	height: 45px;
}

@media screen and (min-width:480px){
	.btn-u-lg.btn-u-upper.btn_submit_other_orange{
		background: transparent url('../img-temp/btn_orange.png') no-repeat 0 0;
		font-size: 30px;
		padding-top: 5px;
		margin-top: 16px;
		width: 345px;
		height: 60px;
	}
}

/*** startnow page from inline styles ***/
.roundedOne {
	width: 28px;
	height: 28px;
	background: #fcfff4;
	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
	margin: 20px auto;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
	position: relative;
}
.roundedOne label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 4px;
	top: 4px;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 1);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 1);
	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#222', endColorstr='#45484d', GradientType=0);
}
.roundedOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	background: #00bf00;
	background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: linear-gradient(top, #00bf00 0%, #009400 100%);
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	top: 2px;
	left: 2px;
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.roundedOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}
.roundedOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

/*** Landing page ***/
.great_app_h1.amazing_app{ font-size:40px; line-height: 46px; }
.navbar_opacity { background: transparent url('../img-temp/opacity.png') repeat 0 0; border-radius: 0; }
.navbar-linebreak{ padding-top:8px; }
.underline_chalk { background: transparent url('../img-temp/icon_line.png') no-repeat left bottom; display: inline-block; width: 234px; padding-bottom: 18px; margin-left: -15px; }
h4.list_check { background: transparent url('../img-temp/list_check.png') no-repeat 0 5px; padding-left: 35px; margin-bottom: 15px; }
.secure_logo, .secure_text { float: left; }
.secure_logo { margin-bottom: 15px; width: 90px; }
.easy_process_title { margin-top: 50px; }
.easy_process_title h2 { font-size: 40px; }
.easy_process_title h3 { font-size: 22px; }
.easy_process_title h4 { font-size: 20px; line-height: 28px;}
.border_underline_orange { background: transparent url('../img-temp/underline.png') no-repeat center bottom; padding-bottom: 20px; }
.agecheck_app { font-size: 12px; margin-bottom: 8px; height: 57px; text-align: center; }
.agecheck_app input[type=checkbox] { -webkit-transform: scale(1,1); }
section.support.arrow { position: relative; }
section.support.arrow::after {
  content: '';
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  transform: translateY(100%);
  z-index: 999;
}
section.support.arrow.green_arrow::after { border-top: 20px solid #14857c; }
section.support.arrow.white_arrow::after { border-top: 20px solid #FFF; }
section.support.arrow.grey_arrow::after { border-top: 20px solid #f4f7f8; }

section.about-section { background: transparent url('../img-temp/bg_testi.jpg') no-repeat center top; padding-top: 70px; }
section.about-section h2 { font-size: 40px; line-height: 46px; }
section.about-section .testi_content { font-size: 18px; font-style: italic; }
.quote{color:rgba(0, 0, 0, .1);text-align:center;margin-bottom:30px}
#fade-quote-carousel.carousel{padding-bottom:60px}
#fade-quote-carousel.carousel .carousel-inner .item{opacity:0;-webkit-transition-property:opacity;-ms-transition-property:opacity;transition-property:opacity}
#fade-quote-carousel.carousel .carousel-inner .active{opacity:1;-webkit-transition-property:opacity;-ms-transition-property:opacity;transition-property:opacity}
#fade-quote-carousel.carousel .carousel-indicators{bottom:10px}
#fade-quote-carousel.carousel .carousel-indicators>li{background-color:#e84a64;border:none}
#fade-quote-carousel blockquote{text-align:center;border:none}
#fade-quote-carousel .profile-circle{width:100px;height:100px;margin:0 auto;border-radius:100px}
#quote-carousel{padding:0 10px 30px 10px;margin-top:30px}
#quote-carousel .carousel-control{background:0 0;color:#898a8a;font-size:16px;text-shadow:none;margin-top:30px}
#quote-carousel .carousel-control.left{left:-20px}
#quote-carousel .carousel-control.right{right:-20px}
#quote-carousel .carousel-indicators{position: relative;right:50%;top:auto;bottom:0;margin-right:-19px;margin-top:0;width: 100%;margin-left:-50%;}
#quote-carousel .carousel-indicators li{width:50px;height:50px;margin:5px;cursor:pointer;border:4px solid transparent;border-radius:50px;opacity:.4;overflow:hidden;transition:all .4s}
#quote-carousel .carousel-indicators .active{background:transparent;width:80px;height:80px;border-radius:100px;border-color:transparent;opacity:1;overflow:hidden}
#quote-carousel .carousel-indicators li img { width: 177px; }
.carousel-inner{min-height:300px}

.bg_landing_footer h2 { font-size: 40px; color: #fff; text-transform: uppercase; background: transparent url('../img-temp/underline.png') no-repeat center bottom; padding-bottom: 20px; margin-bottom: 25px;  }
.bg_landing_footer h3 { font-size: 30px; color: #fff; margin-bottom: 30px; }
.bg_landing_footer h4 { font-size: 19px; color: #fff; margin-bottom: 30px; }
@media(min-width:768px){.carousel-inner {min-height:255px;}
	#quote-carousel .carousel-indicators .active{height: 128px; width: 128px;}
	.bg_landing_footer { background: transparent url('../img-temp/bg_landing_footer.png') no-repeat center top;}
}
@media(min-width:992px){.carousel-inner {min-height:200px;}}
@media(min-width:1200px){.great_app_h1.amazing_app{ font-size:50px; line-height: 50px; } .carousel-inner {min-height:170px;} section.about-section{background-size: 100%;} }

@media screen and (min-width:480px){
	.navbar-brand-custom-float { float: right; }
}
@media screen and (min-width:768px){
	.phonenummobileview { margin-top: 15px; }
	.secure_text { width: 71%; }
}
@media screen and (min-width:1200px){
	.bg__landing { background: transparent url('../img-temp/bg_landing_transparent.png') no-repeat top center; background-size: 100% auto; }
	.secure_text { width: 77%; }
}

/*** Survery page ***/
.blueheader {
	height: 41px;
}
.checklist_survey input {
	width: 13px;
    height: 10px;
    margin-right: 8px;
}
.sky-form .input .icon-append + input.blue_bg_input {
	background-color: #007ece;
	border-style: none;
	color: white;
}
.survey_feedback {
	height: 200px;
	padding: 8px;
	width: 100%;
	resize: none;
}

@media (max-width: 768px) {
	.bodybackground_startnow .getstartedsectionbottom .agecheckboxlabel .getstartedAllheadingsm1 span.red { font-size: 11px !important; }
	.backgroundheaderimage {
		display: none;
	}
	.callthebrainyappteam {
		display: none;
	}
	.blueheader {
		margin-right: 0px;
		margin-left: 0px;
		width: 100%;
		background-color: white;
		color: #505152;
	}
	.footerpadding {
		padding-top: 0px;
	}
	.form-user-info {
		margin: 15px 0 0;
		background-color: #007ece;
		width: 100%;
	}
	.einstein-quote {
		width: 100%;
	}
	.section-confidentiality {
		padding-top: 40px;
	}
	.no-line-no-waiting {
		font-family: SourceSansPro-Bold;
		color: #505152;
		font-size: 20px;
	}
	.submit_buttonstyle {
		border: 0;
		color: #fff;
		cursor: pointer;
		font-weight: 400;
		padding: 6px 13px;
		position: relative;
		background: transparent;
		white-space: nowrap;
		display: inline-block;
		text-decoration: none;
	}
	.submit_buttonstyle.confirm_age {
		margin-top: 7px;
	}
	.getstartedAllheadingsm1 {
		padding-top: 0px;
		padding-bottom: 0px;
		text-align: center;
		padding-left: 0px;
	}
	.agecheckbox {
		margin-left: 0px;
		margin-bottom: 10px;
	}
	.agecheckboxlabel {
		margin-bottom: 16px;
	}
	.agecheck_app {
		margin-bottom: 0;
	}
}

@media (min-width: 1200px) {
	.backgroundheaderimage {
		position: absolute;
		bottom: 23px;
		left: -61px;
		width: 911px;
		height: 552px;
	}
	.backgroundheaderimage2 {
		position: absolute;
		bottom: 23px;
		left: -61px;
		width: 911px;
		height: auto;
	}
	.backgroundheaderimage_featuredapps {
		position: absolute;
		bottom: 23px;
		left: -61px;
		width: 911px;
		height: 695px;
	}
	.blueheader {
		margin-right: 20px;
		margin-left: -23px;
		width: 105%;
		background-color: #007ece;
	}
	.footerpadding {
		padding-top: 10px;
	}
	.FreeReviewConfiImage {
		position: absolute;
		bottom: 30%;
		left: 35px;
		width: 142px;
		height: auto;
	}
	.arrow-image {
		position: absolute;
		bottom: -200px;
		left: 1025px;
		width: 100px;
		height: auto;
	}
	.form-user-info {
		margin: -5px;
		background-color: #007ece;
		width: 30.666667%;
	}
	.einstein-quote {
		width: 27.666667%;
	}
	.select-you-app {
		left: 225px;
	}
	.subscribe-your-app {
		width: 75%;
		margin: 0 auto;
	}
	.section-confidentiality {
		padding-top: 140px;
	}
	.no-line-no-waiting {
		font-family: SourceSansPro-Bold;
		color: white;
		font-size: 20px;
	}
	.einstein_image {
		position: absolute;
		bottom: 264px;
		left: 305px;
		width: 229px;
		height: auto;
	}
	.equipments_image {
		position: absolute;
		bottom: 23px;
		left: 68px;
		width: 478px;
		height: 280px;
		top: 196px;
	}
	.blue_image {
		position: absolute;
		bottom: 23px;
		left: 10px;
		width: 427px;
		top: 108px;
		height: 217px;
	}
	.green_image {
		position: absolute;
		bottom: 0px;
		left: 10px;
		width: 386px;
		height: 100px;
		top: 364px;
	}
	.getstarted-phone {
		position: absolute;
		bottom: 100px;
		left: 535px;
		width: 314px;
		height: auto;
		top: 19px;
	}
	.confidential_heading {
		padding-left: 30px;
		color: white;
	}
	.getstarted-heading {
		padding-left: 7px;
	}
	.getstartedtimebonus {
		padding-left: 30px;
	}
	.getstartednowh {
		padding-left: 40px;
	}
	.submit_buttonstyle {
		background-color: Transparent;
		background-repeat: no-repeat;
		border: none;
		cursor: pointer;
		overflow: hidden;
		outline: none;
		font-size: 25px;
		color: white;
	}
	.first-time-app-inv {
		padding-left: 10px;
	}
	.designing_image_ar {
		position: absolute;
		bottom: 100px;
		left: 272px;
		height: auto;
		top: 93px;
	}
	.programming_image_arr {
		position: absolute;
		bottom: 100px;
		left: 591px;
		height: auto;
		top: 93px;
	}
	.width_91{ width: 91px; }
	.doublelineimage_two_newl1 {
		position: absolute;
		left: 390px;
		width: 240px;
		height: auto;
		bottom: 120px;
		z-index: 99;
	}
	.agecheckbox {
		margin-left: 26px;
	}
	.fieldsetlabel {
		max-width: 100%;
	}
}